AGENT.md
PROJECT_STATUS_AND_CONTEXT.md
baseline*

data/
testdata/
docs/
tests/
assets/

# Nextflow
.nextflow/
.nextflow.log*
work/

# Pipeline outputs
results/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
