manifest {
    name            = 'openms-silac-nextflow'
    author          = 'Philipp Rebs'
    version         = '0.1.0-dev'
    nextflowVersion = '>=25.10.0'
}

params {
    input      = null
    mzml_dir   = null
    database   = null
    outdir     = 'results'
    cpus = 2
    psm_fdr = 0.01
}

process {
    executor = 'local'
    cpus = 1

    withName: 'COMET|OPENMS_PEAK_PICKER|PEPTIDE_INDEXER|PERCOLATOR' {
        cpus = params.cpus
    }
}

profiles {
    docker {
        docker.enabled = true
    }
}