manifest {
    name            = 'openms-silac-nextflow'
    author          = 'Philipp Rebs'
    version         = '0.1.0-dev'
    nextflowVersion = '>=25.10.0'
}

params {
    input      = null
    mzml_dir   = null
    database   = null
    outdir     = 'results'
}

process {
    executor = 'local'
}

profiles {

    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
    }
}