manifest {
    name            = 'openms-silac-nextflow'
    author          = 'Philipp Rebs'
    version         = '0.1.0-dev'
    nextflowVersion = '>=25.10.0'
}

params {
    input      = null
    mzml_dir   = null
    database   = null
    outdir     = 'results'
    cpus = 2
    psm_fdr = 0.01
}

process {
    executor = 'local'
    cpus = 1

    withName: 'COMET|OPENMS_PEAK_PICKER|PEPTIDE_INDEXER|PERCOLATOR' {
        cpus = params.cpus
    }
}

profiles {
    docker {
        docker.enabled = true
    }

    test_duplex {
        params.input    = "${projectDir}/PXD003327_duplex.sdrf.tsv"
        params.mzml_dir = "${projectDir}/../openms_silac_bash/data/PXD003327/mzml"
        params.database = "${projectDir}/../openms_silac_bash/db/ecoli_k12_uniprot_reviewed.fasta"
    }

    test_triplex {
        params.input    = "${projectDir}/PXD003327_triplex.sdrf.tsv"
        params.mzml_dir = "${projectDir}/../openms_silac_bash/data/PXD003327/mzml"
        params.database = "${projectDir}/../openms_silac_bash/db/ecoli_k12_uniprot_reviewed.fasta"
    }
}
