process {
    withName: 'MS1_LABELED_WORKFLOW' {
        ext.args = {
            [
                "-max_nr_labelled_aas ${params.allowed_missed_cleavages}",
                "-proteinFDR ${params.protein_level_fdr_cutoff}",
                "-picked_proteinFDR ${params.silac_picked_protein_fdr}",
                "-ProteinQuantification:fractions:aggregate ${params.silac_fraction_aggregation}",
                "-ratios:reference_channel ${params.silac_reference_channel}",
                "-ratios:min_ratio_count ${params.silac_min_ratio_count}",
                "-ratios:normalize ${params.silac_normalize_ratios}"
            ].join(' ')
        }
    }

    withName: 'COMET' {
        ext.args = {
            def bounds = params.isotope_error_range
                .split(',')
                .collect { it.toInteger() }

            def isotopeErrors = (bounds[0]..bounds[1]).join('/')

            [
                "-missed_cleavages ${params.allowed_missed_cleavages}",
                "-instrument ${params.instrument}",
                "-isotope_error ${isotopeErrors}"
            ].join(' ')
        }
    }
}